<div class="welcome">
<h1>Welcome to CSE Motors!</h1>
</div>
<div class="hero-section">
<img src="/images/vehicles/delorean.jpg" alt="DeLorean">
</div>
<div class="delorean-reviews">
    <h2>DMC DeLorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling through time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>
<div class="delorean-upgrades">
    <h2>Delorean Upgrades</h2>
    <ul>
        <li>
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <span>Flux Capacitor</span>
        </li>
        <li>
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
            <span>Flame Decals</span>
        </li>
        <li>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            <span>Bumper Stickers</span>
        </li>
        <li>
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <span>Hub Caps</span>
        </li>
    </ul>
</div>