<% if (title) { %>
<h1><%= title %></h1>
<% } else { %>
<h1>Welcome to the Glade.</h1>
<% } %>

<div class="error-message">
  <%- message %>
</div>

<p>Challenge Complete: How Did We Get Here?<br>Try going back to the <a href="/">home page</a>.</p>